.subpage-header {
    background-image: url("subpages_bk2.jpg") ;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
    height: 200px;
    width: 100%;
    }
